.cardContainer
{
    background: lightgreen;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    grid-template-rows: 1, 1fr;
    border-radius: 10px;

    .cardHeader
    {
        background: lightyellow;
        flex: 1;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .cardBody
    {
        flex: 5;
    background-image: url('./../images//Avangers.png');
    background-position: center;
    background-size: cover;
    }
    .cardFooter
    {
        display: flex;
        flex: 1;
        height: 100%;
        flex-direction: row;
        font-size: medium;
        color: white;  
        background: lightseagreen; 
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}