.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .nav {
    background: lightblue;
    padding: 1rem;
  }
  
  .section {
    display: flex;
    flex: 1;
    display: flex;
  }
  
  .aside {
    background: lightcoral;
    width: auto;
  }
  
  .main {
    background: lightgreen;
    flex: 1;
  }
  
  .footer {
    background: lightgrey;
    padding: 1rem;
    text-align: center;
  }
  